[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Jdmbs"]
	path = Jdmbs
	url = https://github.com/jirotubuyaki/jdmbs
	shallow = true
	registered = true
